{namespace edm=Priorist\EdmTypo3\ViewHelpers}

<f:if condition="{event.image}">
  <f:if condition="{fullWidth}">
    <f:then>
      <div class="edm-event__image-full-width">
        <edm:image
          filename="{event.image.original_filename}"
          src="{event.image.url}"
          width="1260c"
          height="540c"
          alt="{event.meta.event_base_name}"
        />
      </div>
    </f:then>
    <f:else>
      <div class="edm-event__image">
        <f:link.action
          pageUid="{settings.pageuids.detail}"
          action="detail"
          arguments="{eventBaseSlug: event.slug}"
        >
          <edm:image
            filename="{event.image.original_filename}"
            src="{event.image.url}"
            alt="{event.meta.event_base_name}"
          />
        </f:link.action>
      </div>
    </f:else>
  </f:if>
</f:if>
