<f:if condition="{settings.detailOnExternalWebsite}">
  <f:then>
    <f:link.external target="_blank" uri="{settings.detailUrl}{event.slug}">
      <h3 class="event-name">
        {event.name}
        <f:if condition="{event.is_new}">
          <span class="new-offer">NEU</span>
        </f:if>
      </h3>
    </f:link.external>
  </f:then>
  <f:else>
    <f:if condition="{showAll}">
      <f:then>
        <f:link.action
          pageUid="{settings.pageuids.eventDetail}"
          action="detail"
          arguments="{eventBaseSlug: event.slug}"
          additionalParams="{showAll: 'true'}"
        >
          <div class="event-name">
            {event.name}
            <f:if condition="{event.is_new}">
              <span class="new-offer">NEU</span>
            </f:if>
          </div>
        </f:link.action>
      </f:then>
      <f:else>
        <f:link.action
          pageUid="{settings.pageuids.eventDetail}"
          action="detail"
          controller="Event"
          extensionName="EdmTypo3"
          pluginName="Eventdetail"
          arguments="{eventBaseSlug: event.slug}"
        >
          <div class="event-name">
            {event.name}
            <f:if condition="{event.is_new}">
              <span class="new-offer">NEU</span>
            </f:if>
          </div>
        </f:link.action>
      </f:else>
    </f:if>
  </f:else>
</f:if>

