<f:variable
  name="showAllValue"
  value="{f:if(condition: '{showAll}', then: 'true', else: 'false')}"
/>

<f:if condition="{settings.detailOnExternalWebsite}">
  <f:then>
    <f:link.external target="_blank" uri="{settings.detailUrl}{event.slug}">
      <h3 class="edm-event__link">
        {event.name}
        <f:if condition="{event.is_new}">
          <span class="new-offer">NEU</span>
        </f:if>
      </h3>
    </f:link.external>
  </f:then>
  <f:else>
    <f:link.action
      pageUid="{settings.pageuids.eventDetail}"
      action="detail"
      arguments="{eventBaseSlug: event.slug}"
      additionalParams="{showAll: showAllValue, id: event.events.0.id}"
      section="{event.events.0.id}"
    >
      <h3 class="edm-event__link">
        {event.name}
        <f:if condition="{event.is_new}">
          <span class="new-offer">NEU</span>
        </f:if>
      </h3>
    </f:link.action>
  </f:else>
</f:if>
