<f:if condition="{file.tags}">
  <f:then>
    <f:for each="{file.tags}" as="tag">
      <f:if condition="{tag} != '__image__'">
        <li class="event-document">
          <a href="{settings.edm.url}{file.url}" target="_blank" title="Download: {file.name}">
            {file.name}
          </a>
        </li>
      </f:if>
    </f:for>
  </f:then>
  <f:else>
    <li class="event-document">
      <a href="{settings.edm.url}{file.url}" target="_blank" title="Download: {file.name}">
        {file.name}
      </a>
    </li>
  </f:else>
</f:if>
