<f:if condition="{eventBase.image}">
  <f:if condition="{fullWidth}">
    <f:then>
      <div class="edm-event-detail__header__image-full-width">
        <f:image src="{settings.edm.url}{eventBase.image.url}" width="1260" height="540" />
      </div>
    </f:then>
    <f:else>
      <div class="edm-event-detail__header__image">
        <f:link.action
          pageUid="{settings.pageuids.detail}"
          action="detail"
          arguments="{eventBaseSlug: eventBase.slug}"
        >
          <img src="{settings.edm.url}{eventBase.image.url}" />
        </f:link.action>
      </div>
    </f:else>
  </f:if>
</f:if>
