<div class="edm-event-detail__contact">
  <f:if condition="{internalError}">
    <f:then>
      <f:render partial="InternalError" />
    </f:then>
    <f:else>
        <div class="edm-event-detail__contact-person">
          <f:if condition="{subheader}">
            <h3>{subheader}</h3>
          </f:if>
          <f:for each="{contactPersons}" as="contactPerson">
            <f:render
              partial="PersonDetail"
              arguments="{contactPerson: contactPerson, settings: settings}"
            />
          </f:for>
        </div>
      </div>
    </f:else>
  </f:if>
</div>
