<div class="edm-event-detail__contact">
  <f:if condition="{internalError}">
    <f:then>
      <f:render partial="InternalError" />
    </f:then>
    <f:else>
        <div class="edm-event-detail__contact-person">
          <f:if condition="{subheader}">
            <h3>{subheader}</h3>
          </f:if>
          <f:if condition="{contactPerson}">
            <f:then>
              <f:render
                partial="PersonDetail"
                arguments="{contactPerson: contactPerson, settings: settings}"
              />
            </f:then>
            <f:else if="{contactPersons}">
              <f:for each="{contactPersons}" as="contactPerson">
                <f:render
                  partial="PersonDetail"
                  arguments="{contactPerson: contactPerson, settings: settings}"
                />
              </f:for>
            </f:else>
          </f:if>
        </div>
      </div>
    </f:else>
  </f:if>
</div>
